/* Pop Up */
.enter{
    text-align: center;
    padding: 20px;
    width: 35%;
    height: 350px;
    background-color: rgba(208, 200, 63);
    margin: 5% auto;
    border-radius: 20px;
    z-index: 200;
    min-width: 80%;
    position: fixed;
    translate: 12%;
}

.enter h3{
    color: #FFFFFF;
}

/* Gestione Mobile */
@media only screen and (min-width: 380px) and (max-width: 900px){
    .enter{
        width: 80%;
    }
}

/* Inputs */
.input-lemon{
    border: none;
    box-shadow: -4px 4px 0 0 black;
    color: black;
    width: 45%; 
}

/* Buttons */
#buttons{
    margin: 20px;
}

#buttons button{
    padding: 1px 25px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -4px 4px 0 0 black;
    transition: 0.5s;
    margin: 10px;
}

#buttons button:hover{
    box-shadow: 0 0 black;
    transform: translateY(0.18rem);
}