*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body{
  background-color: #9d631e;
}

.container-fluid{
  background-color: rgba(208, 200, 63);
}


/* card */
.card-block{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 20px;
  justify-content: space-around;
}

/* Cover of user */
.cover{
  width: 100%;
  height: 30vh;
  background-color: #9d631e;
  background: url("src/assets/img/lemons.webp");
  background-size: contain;
  position: absolute;
}


.cover img{
  max-height: 100%;
  
}