*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body{
  background-color: #414448;
}

.container-fluid{
  background-color: rgba(208, 200, 63);
}


/* card */
.card-block{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 20px;
  justify-content: space-around;
}